name: distributed-lock-benchmark

services:
  mysql:
    image: mysql:8.0
    container_name: distributed-lock-mysql
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=distributed_lock
      - MYSQL_USER=distributed_lock_user
      - MYSQL_PASSWORD=distributedLock123!
      - MYSQL_ROOT_PASSWORD=root123!
      - TZ=UTC
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --max-connections=1000
    ports:
      - "3306:3306"
    restart: always

  redis:
    image: redis:7.2-alpine
    container_name: distributed-lock-redis
    volumes:
      - redis-data:/data
    environment:
      - TZ=UTC
    command: redis-server --save "" --appendonly no
    ports:
      - "6379:6379"
    restart: always

volumes:
  mysql-data:
  redis-data:
