spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

logging:
  level:
    com.sailorham.lock: debug
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
